.calculator {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight: 600;
}

.result {
  color: grey;
}

.layout {
  width: auto;
  height: auto;
}

button {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
  border-width: 1px solid;
  border-image: linear-gradient(to right, black, rgb(109, 99, 113)) border-box;
  font-size: 23px;
}

.row {
  gap: 10px;
}
